$color-accent: #343b39;
$color-alert: #ff0000;
$color-light-accent: #5a6260;
$color-accent-hover: darken($color-accent, 10%);
$color-additional: #999999;
$color-additional-hover: darken($color-additional, 10%);
